<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>心理測驗結果</title>

    <meta property="og:type" content="website" />
    <meta property="og:url" th:content="${currentUrl}" />
    <meta property="og:title" th:content="${title}" />
    <meta property="og:description" th:content="趕快來玩這個心理測驗，看看你是什麼花！" />
    <meta property="og:image" th:content="${imageUrl}" />

    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <script th:inline="javascript">
        // 讓真人開啟連結時，跳轉回你的 Vue 前端頁面
        console.log('Redirecting to:', [[${currentUrl}]]);
<!--        window.location.href = [[${currentUrl}]];-->
        // window.location.href = "https://grilla-estella-noneducationally.ngrok-free.dev/o14064/login";
    </script>
</head>
<body>
<p th:text="${title}"></p>
<p th:text="趕快來玩這個心理測驗，看看你是什麼花嘩嘩嘩！"></p>
<!--<p>如果沒有自動跳轉，請 <a th:href="${currentUrl}">點擊此處</a>。</p>-->
<p>測驗一</p>
<img th:src="${imageUrl}" style="max-width: 100%" />
<p>測驗二</p>
<img th:src="${imageUrl2}" style="max-width: 100%" />
</body>
</html>